﻿/* Image Upload */
.uploadImg-wrapper {
    overflow:hidden;}
.uploadImg-wrapper div {
    float:left;
    margin:10px 8px 10px 0;}
.uploadImg-wrapper img {
    max-width:100px;
    float:left;
    height:75px;}
.uploadImg-wrapper input {
    border:none;
    background:url("../img/icon-delete.png") no-repeat left center;
    cursor:pointer;
    display:block;
    width:16px;
    height:16px;
    float:left;
    margin-left:5px;
    margin-top:30px;}
#FileUploadQueue {
    display:none !important;}
