﻿* {margin:0; padding:0;}
img {border:none;}
ul li {list-style-type:none;}
/* Global */
a {
    text-decoration:none;}
h1 {
    font-size:30px;
    line-height:110%;
    font-weight:normal;
    border-bottom:dotted 1px #AAA;
    padding-bottom:10px;
    margin-bottom:20px;}
.clear {clear:both;}
body {
    background:url("../img/bg-body.jpg") no-repeat center 170px;
    font:normal 12px/19px Arial, Helvetica, sans-srif;}
.global {
    width:960px;
    margin:0 auto;}
.header {
    position:relative;
    height:130px;}
.logo {
    position:absolute;
    top:30px;}

/* Login */
.login {
    width:400px;
    position:absolute;
    right:0px;
    top:30px;
    overflow:hidden;
    color:#999;}
.login a {
    color:#999}
.login a:hover {
    text-decoration:underline;
    color:#666;}
.login ul.login-items {
    overflow:hidden;
    float:right;}
.login ul.login-items li {
    display:inline;
    position:relative;}
.login ul.login-items label {
    display:block;}
.login ul.login-items .user,
.login ul.login-items .pass,
.login ul.login-items .btnLoign {
    display:block;
    float:left;
    height:45px;}
.login ul.login-items .user,
.login ul.login-items .pass {
    width:150px;
    margin-right:10px;}
.login ul.login-items li.user input,
.login ul.login-items li.pass input {
    background-color:#F0F0F0;
    border:none;
    font:normal 11px/15px Tahoma, Helvetica, sans-srif;
    color:#666;
    padding:3px 2px;
    width:150px;}
.login ul.login-items .btnLogin input {
    font:normal 11px/31px Tahoma, Helvetica, sans-srif;
    width:77px;
    height:31px;
    text-align:center;
    cursor:pointer;
    border:none;
    background:url("../img/btn-login.png") no-repeat left top;
    margin-top:15px;}
.login-additional li {
    display:inline;
    font-size:11px;
    padding:0 10px;
    border-left:dotted 1px #AAA;}
.login-additional li:first-child {
    border:none;
    padding-left:3px;}
.login-additional-checkBox input {
    position:relative;
    top:3px;
    margin-right:6px;}
.login-additional-checkBox label {
    cursor:pointer;}
.login ul.login-items .validator {
    color: #CC0000;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 3px;}
.login ul.login-items .validator[style="visibility: visible;"] + label {
    color:#C00;}
.login .error {
    color:#C00;
    font-size:11px;
    padding-left:4px;}
.loged {
    position:absolute;
    right:0px;
    top:30px;
    color:#666;}
.loged li {
    display:inline;
    border-left:solid 1px #CCC;
    padding:0 10px 0 10px;}
.loged li:first-child {
    border:none;}
.loged li a {
    color:#7BBF9A;}
.loged li a:hover {
    color:#98D62D;
    text-decoration:underline;}
    
/* Main */
.main {
    background:url("../img/white-trans.png") repeat left top;
    margin:50px auto 0 auto;
    padding:20px;
    min-height:360px;
    -moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	-moz-box-shadow:0px 0px 6px #999;
	-webkit-box-shadow: 0px 0px 6px #999;
	box-shadow: 0px 0px 6px #999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#999999')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#999999');}
.panel-addImage {
    width:655px;}
/* Register Page */
.panel-register {
    background:url("../img/white-trans.png") repeat left top;
    width:700px;
    margin:50px auto 0 auto;
    padding:20px;
    height:360px;
    -moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	-moz-box-shadow:0px 0px 6px #999;
	-webkit-box-shadow: 0px 0px 6px #999;
	box-shadow: 0px 0px 6px #999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#999999')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#999999');}
.panel-register tr td {
    width:300px;
    text-align:left;
    padding:5px 0;}
.form-layout .form-item {
    overflow:hidden;
    margin-bottom:20px;}
.form-layout .form-item label {
    display:block;
    width:200px;
    float:left;
    text-align:right;
    margin-right:10px;}
.form-layout .form-item input {
    border:solid 1px #CCC;
    padding:4px;
    font-size:14px;
    line-height:20px;
    width:300px;
    float:left;}
.form-layout .form-item span {
    padding-left:5px;
    color:#C00;}
.form-layout .form-item span[style="visibility: visible;"] + label {
    color:#C00;}
#ContentPlaceHolder1_CreateUserWizard1___CustomNav0_StepNextButtonButton {
    position:relative;
    top:-30px;
    left:206px;
    font-size:15px;
    width:120px;
    text-align:center;
    padding:2px 3px;
    cursor:pointer;}
span#ContentPlaceHolder1_CreateUserWizard1_CreateUserStepContainer_PasswordCompare {
    text-align:center;
    padding:10px 10px;
    font-size:15px;
    line-height:21px;
    color:#C00;
    position:absolute;
    left:200px;
    top:30px;}
#ContentPlaceHolder1_CreateUserWizard1_CompleteStepContainer_ContinueButton {
    position:relative;
    font-size:15px;
    margin-top:20px;
    width:120px;
    text-align:center;
    padding:2px 3px;
    cursor:pointer;}
.registration-complete {
     text-align:center;}
.registration-complete p {
    font-size:18px;
    line-height:120%;
    color:#009900;}
.button {
    position:relative;
    font-size:15px;
    margin-top:20px;
    width:120px;
    text-align:center;
    padding:2px 3px;
    cursor:pointer;}
.form-item-rememberMe {
    margin-left:210px;}
.form-item-rememberMe input {
    margin-right:6px;
    position:relative;
    top:2px;}
#ContentPlaceHolder1_Login1_LoginButton {
    margin-left:210px;}
.loginPage-notifiaction {
    padding:10px 10px 10px 0;
    font-size:15px;
    line-height:21px;
    color:#C00;
    margin-left:210px;}